$md-input-border-color: #d7d7d7

.page-article
  max-width: 100%
  width: 45%
  display: inline-block

#generated-nav
  display: inline-block
  width: 215px

#logo-a
  margin-right: 20px

.side-tree-nav-fix
  height: auto !important
  line-height: 20px !important
  color: #333
  background-color: inherit
  box-shadow: none

.tree-item > a
  color: #497bb7

#content
  margin-top: 50px

table
  width: auto

a
  color: #497bb7

textarea
  outline: none
  resize: none
  font-size: 13px
  font-family: Menlo, 'Roboto', sans-serif
  border: 1px $md-input-border-color solid

@import "create"